<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
  <link rel="stylesheet" th:href="@{/css/boardList.css}">
</head>
<body layout:fragment="content">
<script th:inline="javascript">
  const msg = [[${#httpServletRequest.getAttribute('msg')}]];
  if (msg === "WRT_OK") alert("성공적으로 등록되었습니다.");
  if (msg === "NOT_EQL") alert("본인이 작성한 글만 지울 수 있습니다.");
  if (msg === "REMOVE_OK") alert("성공적으로 삭제되었습니다.");
  if (msg === "MOD_OK") alert("성공적으로 수정되었습니다.");
</script>
<div class="jhShin">
<div style="text-align:center">
<div class="board-container">
<div class="search-container">
<div id="content">
  <button type="button" class="btn-write" id="writeBtn" th:onclick="|location.href='@{/board/write}'|">글쓰기</button>
  <table>
    <tr>
      <th class="no">번호</th>
      <th class="title">제목</th>
      <th class="writer">글쓴이</th>
      <th class="regdate">등록일</th>
      <th class="viewcnt">조회수</th>
    </tr>
    <tr th:each="board : ${list}">
      <td th:text="${board.bno}"></td>
      <td><a th:href="@{/board/read(bno=${board.bno}, page=${page}, pageSize=${pageSize})}">[[${board.title}]]</a></td>
      <td th:text="${board.writer}"></td>
      <td th:text="${board.reg_date}"></td>
      <td th:text="${board.view_cnt}"></td>
    </tr>
  </table>
  <br>
  <div class="paging-container">
    <div class="paging">
    <!-- 이전 페이지로 이동하는 링크 -->
    <a class="page" th:if="${ph.showPrev}" th:href="@{/board/list(page=${ph.beginPage-1}, pageSize=${ph.pageSize})}">&lt;</a>

    <!-- 페이지 숫자들을 반복해서 출력 -->
    <a class="paging-active" th:each="i : ${#numbers.sequence(ph.beginPage, ph.endPage)}"
       th:href="@{/board/list(page=${i}, pageSize=${ph.pageSize})}" th:text="${i}"></a>

    <!-- 다음 페이지로 이동하는 링크 -->
    <a class="page" th:if="${ph.showNext}" th:href="@{/board/list(page=${ph.endPage+1}, pageSize=${ph.pageSize})}">&gt;</a>
    </div>
  </div>
    <form action class="search-form" method="get">
      <select class="search-option" name="option">
        <option value="A" selected>제목+내용</option>
        <option value="T">제목만</option>
        <option value="W">작성자</option>
      </select>
      <input type="text" class="search-input" name="keyword" placeholder="검색어를 입력해주세요" autocomplete="off">
      <input type="submit" class="search-button" value="검색">
    </form>
  <div id="blank"></div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>