<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.poinhanshin.mapper.board.CommentMapper">
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="cno" parameterType="com.project.poinhanshin.domain.board.CommentDto">
        insert into comment (bno, content, commenter, reg_date) values (#{bno}, #{content}, #{commenter}, now())
    </insert>

    <select id="getComments" resultType="com.project.poinhanshin.domain.board.CommentDto">
        select commenter, content, reg_date from comment
    </select>
</mapper>